# ── VERİLƏNLƏR BAZASI ──
DB_PASSWORD=StrongPassword123!

# ── JWT ──
JWT_SECRET=millisec_super_secret_key_minimum_32_chars_here

# ── MFA (intranet üçün true et) ──
REQUIRE_MFA=false

# ── SPLUNK (sonra doldur) ──
SPLUNK_HEC_URL=
SPLUNK_HEC_TOKEN=
